<div class="form-inputs">
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :birthdate %>
  <%= f.input :gender, as: :select, collection: ["Male", "Female"], include_blank: false %>
</div>

